name: Run Tests and Checks
on:
  push:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'


      - name: Install Packages
        run: yarn

      - name: ESLint Run
        run: yarn lint:ci

      - name: Jest Run
        run: yarn test:ci

      - name: Build Release
        run: yarn build

      - name: Publish to npmjs
        if: github.ref == 'refs/heads/main'
        run: |
            git config --global user.name "Automatic Release"
            git config --global user.email "automatic-release@noreply.github.com"
            yarn version --prerelease --preid dev
            yarn publish --tag dev
            git push
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
