name: Publish Package to npmjs
on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install Packages
        run: yarn

      - name: Build Release
        run: yarn build

      - name: Bump Version - ${{ github.ref_name }}
      - run: yarn version --new-version ${{ github.ref_name }} --no-git-tag-version

      - name: Publish Release
        run: yarn publish
        if: "!github.event.release.prerelease"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish Prerelease
        run: yarn publish --tag prerelease
        if: "github.event.release.prerelease"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

